<div id='container'>
<h1><%= @article.title %></h1>
<p class='tag'><% @article.tags.each do |tag| %>
	<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>
<p><%= @article.body %></p>
<div class="line">
</div>
<h3>Comments(<%= @article.comments.size%>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<div class="line">
</div>
<%= link_to 'X Delete article', article_path(@article), method: :delete %>
<br><br>
<%= link_to '<< Back to articles list', articles_path%>

</div>